body {
	background-image: linear-gradient(white, #0099ff);
	font-size: 100%;
}

h1 {
    color: #ff9900;
}

h2 {
    color: #ff6600;

}

ul {
    list-style-type: square;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;

}

li {
    float: left;
    font-size: 50px;
    padding-right: 5%;
}

li a {
    display: block;
    background-image: linear-gradient(white, #0099ff);
    text-align: middle;
    padding: 15px 20px
    text: none;
    margin: 0px;
}

li a:hover {
	background-image: linear-gradient(white, #00ffff);
}


.active {
    background-color: #ccffff;
}

.thetitle {
    color: #ff0000;
}
